body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;
  --font-mulish: Mulish;
  --font-inter: Inter;
  --font-nunito: Nunito;

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-4xl: 23px;
  --font-size-lg: 18px;
  --font-size-2xl-6: 21.6px;
  --font-size-6xl: 25px;
  --font-size-51xl: 70px;
  --font-size-6xl-4: 25.4px;
  --font-size-mini: 15px;
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-sm: 14px;
  --font-size-41xl: 60px;
  --font-size-base-8: 16.8px;
  --font-size-8xl: 27px;
  --font-size-17xl: 36px;
  --font-size-mid: 17px;
  --font-size-2xl: 21px;
  --font-size-15xl: 34px;

  /* Colors */
  --color-ghostwhite-100: #f3f3fd;
  --secondary-colors-color-2: #f2f1ff;
  --neutral-300: #eff0f7;
  --color-royalblue: #1678f2;
  --color-black: #000;
  --color-darkslategray-100: #404040;
  --color-darkslategray-300: #323941;
  --neutral-100: #fff;
  --color-red-200: #e71010;
  --color-lavender-100: #d2e0fb;
  --neutral-400: #d9dbe9;
  --color-mediumslateblue: rgba(68, 97, 242, 0.75);
  --color-mediumblue: #4a3aff;
  --neutral-600: #6f6c90;
  --color-lightskyblue-100: #97c3f9;
  --color-lightskyblue-200: rgba(147, 193, 249, 0.4);
  --color-blueviolet: #5932ea;
  --color-lightgray: rgba(215, 215, 215, 0);
  --color-lightslategray: #6096b4;
  --color-dodgerblue: #3a8ef6;

  /* Gaps */
  --gap-9xl-8: 28.8px;
  --gap-7xl-4: 26.4px;

  /* Paddings */
  --padding-12xl: 31px;
  --padding-14xl: 33px;
  --padding-24xl: 43px;
  --padding-8xl: 27px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-xl: 20px;
  --br-36xl: 55px;
  --br-11xl: 30px;
  --br-31xl: 50px;
  --br-3xs-6: 9.6px;
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-mini: 15px;
  --br-6xl: 25px;
  --br-15xl: 34px;
  --br-7xs: 6px;

  /* Effects */
  --drop-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
